# 16th Feb | Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer 1:-

A database is a collection of structured data that is organized and stored in a way that makes it easy to manage and access. <br>
It is a software system that manages and stores information for retrieval and modification by authorized users.

SQL databases are relational databases that use tables to store data. <br>
SQL is a standard language used to manage and manipulate data in these databases. <br> 
SQL databases are known for their ability to handle complex queries and relationships between tables. <br>
Example:- MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, do not use tables to store data. Instead, they use various data models such as key-value, document-oriented, column-oriented, or graph databases. <br>
NoSQL databases are known for their scalability and flexibility, making them ideal for managing large amounts of unstructured data. <br>
Example:- MongoDB, Cassandra, and Redis.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer 2:-

DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database. <br>
DDL statements are used to create, modify, and delete objects such as tables, indexes, and views in a database.

CREATE: The CREATE statement is used to create a new object in a database. <br> 
For example, the CREATE TABLE statement is used to create a new table in the database.

Example: 

CREATE TABLE employees ( <br>
    id INT PRIMARY KEY, <br>
    name VARCHAR(50), <br>
    age INT, <br>
    department VARCHAR(50) <br>
);

DROP: The DROP statement is used to remove an object from the database. <br>
For example, the DROP TABLE statement is used to remove a table from the database.

Example: 

DROP TABLE employees; <br>

ALTER: The ALTER statement is used to modify the structure of an existing object in the database. <br>
For example, the ALTER TABLE statement is used to add a new column to an existing table.

Example: 

ALTER TABLE employees <br>
ADD email VARCHAR(100); <br>

TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping the structure of the table intact. <br>
It is faster than the DROP and CREATE statements and is often used to prepare a table for new data.

Example:

TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer 3:-

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data stored in a database. <br>
DML statements are used to insert, update, and delete data in tables.

INSERT: The INSERT statement is used to add new data into a table.

Example:

INSERT INTO employees (id, name, age, department) <br>
VALUES (1, 'John Doe', 35, 'Sales');

UPDATE: The UPDATE statement is used to modify existing data in a table.

Example: 

UPDATE employees <br>
SET age = 36 <br>
WHERE id = 1;

DELETE: The DELETE statement is used to remove data from a table.

Example:

DELETE FROM employees <br>
WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. <br>
DQL statements are used to select data from tables.

SELECT: The SELECT statement are used to retrieve data from tables in a database. These statements are essential for retrieving and analyzing data, and are used extensively in data processing, reporting, and analysis.

Example:

SELECT name, age, department <br>
FROM employees <br>
WHERE age > 30;

### Q5. Explain Primary Key and Foreign Key.

Answer 5:-

PRIMARY KEY: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. <br>
A primary key is used to enforce the integrity of the data in the table and ensure that each row can be uniquely identified. <br>
A table can have only one primary key, and the values in the primary key column(s) cannot be null.

Example:

CREATE TABLE employees ( <br>
    id INT PRIMARY KEY, <br>
    name VARCHAR(50), <br>
    age INT, <br>
    department VARCHAR(50) <br>
);

FOREIGN KEY: A foreign key is a column or set of columns in a table that refers to the primary key of another table. <br>
A foreign key is used to establish a relationship between two tables and enforce referential integrity. <br>
In other words, a foreign key ensures that the values in the column(s) of one table exist in the primary key column(s) of another table.

Example:

CREATE TABLE orders ( <br>
    order_id INT PRIMARY KEY, <br>
    customer_id INT, <br>
    order_date DATE, <br>
    FOREIGN KEY (customer_id) REFERENCES customers(id) <br>
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer 6:-

To connect MySQL to Python, we use a Python MySQL Connector library.

Example:

import mysql.connector

mydb = mysql.connector.connect( <br>
  host="localhost", <br>
  user="yourusername", <br>
  password="yourpassword", <br>
  database="yourdatabase" <br>
) <br>

mycursor = mydb.cursor() <br>
mycursor.execute("SELECT * FROM customers") <br>

result = mycursor.fetchall() <br>

for row in result: <br>
  print(row)

CURSOR: The cursor() method returns a cursor object, which is used to execute SQL queries and fetch results. <br>
The execute() method is used to execute a SQL query. <br>
It takes a string parameter that contains the SQL statement to be executed.

EXECUTE: When you execute a query with the execute() method, the cursor object is moved to the first row of the result set. <br>
You can then fetch the result set using methods such as fetchall(), fetchone(), or fetchmany(). <br>
These methods return a list of tuples, where each tuple represents a row of the result set.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Answer 7:-

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: This clause specifies the table or tables from which data will be retrieved.
2. JOIN clause: This clause is used to combine data from two or more tables based on a common column.
3. WHERE clause: This clause is used to filter data based on a condition.
4. GROUP BY clause: This clause is used to group data based on one or more columns.
5. HAVING clause: This clause is used to filter data based on a condition after the data has been grouped.
6. SELECT clause: This clause is used to select the columns that will be included in the result set.
7. ORDER BY clause: This clause is used to sort the result set based on one or more columns.
8. LIMIT clause: This clause is used to limit the number of rows that are returned in the result set.