# 17th Feb | Assignment

### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Answer 1:-

MongoDB is a popular open-source document-oriented NoSQL database that stores data in a flexible, JSON-like format known as BSON (Binary JSON). <br>
It allows developers to easily store and access large volumes of unstructured or semi-structured data, such as text, images, and videos.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional table-based relational model used by SQL databases. Instead, they use different data models such as key-value, document-oriented, column-family, and graph databases. <br> 
Non-relational databases are designed to handle large volumes of unstructured or semi-structured data, provide high scalability, and are often used in distributed systems.

MongoDB is preferred over SQL databases in scenarios where a high degree of flexibility is required in handling data. It is ideal for applications that need to store and process large volumes of unstructured data, and for situations where the schema is likely to change frequently. <br>
It is also well-suited for applications that require high scalability and performance, such as real-time analytics, social media, and content management systems. <br>
However, SQL databases are still preferred in cases where data integrity is paramount, or when dealing with complex relationships between different data sets.

### Q2. State and Explain the features of MongoDB.

Answer 2:-

MongoDB is a powerful, open-source document-oriented NoSQL database that offers a range of features that make it a popular choice for modern web and mobile applications. 

Here are some of the key features of MongoDB:
1. Document-oriented: MongoDB is a document-oriented database, which means that it stores data in flexible and dynamic documents that can be updated and queried easily. Documents can contain nested structures, arrays, and other complex data types, making it an ideal choice for applications that require a high degree of flexibility.

2. Scalable: MongoDB is designed to handle large volumes of data and to scale horizontally across multiple servers. This makes it well-suited for applications that need to handle large volumes of data or that require high scalability and performance.

3. Indexing: MongoDB provides support for a wide range of indexing options, including single field, compound, and text indexes. Indexes can be used to optimize queries and to improve performance, particularly in large data sets.

4. Aggregation: MongoDB offers a powerful aggregation framework that allows developers to perform complex data analysis and transformation operations on large data sets. This includes support for data grouping, filtering, and aggregation operations, making it easy to perform advanced analytics and data processing.

5. JSON/BSON Support: MongoDB uses a flexible JSON-like format called BSON to store data. This makes it easy to work with MongoDB data in a range of programming languages, as most modern languages support JSON natively.

6. Automatic Sharding: MongoDB can automatically partition data across multiple servers using a technique called sharding. This allows data to be distributed and scaled horizontally across multiple servers, providing high scalability and performance.

7. High Availability: MongoDB supports high availability through replica sets, which allow data to be replicated across multiple servers. If one server fails, another server can automatically take over, ensuring that data is always available.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Answer 3:-

To connect MongoDB to Python, you first need to install the PyMongo driver, which is the official Python client library for MongoDB. You can install it using pip:

In [6]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

Once you have installed PyMongo, we use the following code to connect to MongoDB and create a database and collection:

In [4]:
# Example:-
import pymongo
client = pymongo.MongoClient("mongodb+srv://chetan_oli:pleaseopenit@assignment.ke4k7l6.mongodb.net/?retryWrites=true&w=majority")
mydb = client["my_database"]
mycol = mydb["my_collection"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

Answer 4:-

insert_one() is used to insert a single document into a collection. <br>
It takes a dictionary object representing the document to be inserted as its argument and returns an object containing the _id of the inserted document.

In [22]:
# Example:-
data = {"name":"Sudh",
         "class":"data science masters",
         "time":"flexi"}

In [11]:
mycol.insert_one(data)

insert_many() is used to insert multiple documents into a collection. <br>
It takes a list of dictionary objects representing the documents to be inserted as its argument and returns an object containing the _id of each inserted document.

In [23]:
# Example:-
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [13]:
mycol.insert_many(data2)

find_one() is used to find a single document that matches a given query. <br>
It returns a single document (dictionary) that matches the query or None if no document matches the query.

In [19]:
# Example:-
mycol.find_one()

{'_id': ObjectId('64341f0bf29fa3b20f679888'),
 'name': 'Sudh',
 'class': 'data science masters',
 'time': 'flexi'}

find() is used to retrieve multiple documents that match a given query. <br>
It returns a cursor object that can be iterated over to access each document individually.

In [20]:
# Example:-
for i in mycol.find():
    print(i)

{'_id': ObjectId('64341f0bf29fa3b20f679888'), 'name': 'Sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64341ff2f29fa3b20f679889'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64341ff2f29fa3b20f67988a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64341ff2f29fa3b20f67988b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64341ff2f29fa3b20f67988c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64341ff2f29fa3b20f67988d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64341ff2f29fa3b20f67988e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64341ff2f29fa3b20f67988f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64341ff2f29fa3b20f679890'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64341ff2f29fa3b20f679891'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64341ff2f29fa3b20f679892'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64341ff2f29fa3b20f679893'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64341ff2f29fa3b20f679894'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Answer 5:-

In MongoDB, the find() method is used to query a collection and retrieve documents that match a specified set of criteria. <br>
The find() method returns a cursor object that can be used to iterate over the results.

To use the find() method in PyMongo, we first need to create a client object that connects to your MongoDB server, select a database, and select a collection to query. <br>
We then use the find() method to retrieve documents that match a specified query criteria.

In [7]:
# Example:-
data3 = [{ "name": "Amy", "address": "Apple st 652"},
         { "name": "Hannah", "address": "Mountain 21"},
         { "name": "Michael", "address": "Valley 345"},
         { "name": "Sandy", "address": "Ocean blvd 2"},
         { "name": "Betty", "address": "Green Grass 1"},
         { "name": "Richard", "address": "Sky st 331"}]

In [8]:
query = { "name": "Amy" }

results = mycol.find(query)
for i in results:
    print(i)

{'_id': ObjectId('64341ff2f29fa3b20f679889'), 'name': 'Amy', 'address': 'Apple st 652'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Answer 6:-

The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields. <br>
The sort() method takes one or more parameters that specify the fields to sort on, and the direction of the sort (ascending or descending). <br>
By default, the sort() method sorts documents in ascending order.

In [12]:
# Example:-
results1 = mycol.find().sort("name", pymongo.DESCENDING)

for i in results1:
    print(i)

{'_id': ObjectId('64341ff2f29fa3b20f679892'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64341ff2f29fa3b20f679894'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64341ff2f29fa3b20f679890'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64341ff2f29fa3b20f67988f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64341f0bf29fa3b20f679888'), 'name': 'Sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64341ff2f29fa3b20f67988c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64341ff2f29fa3b20f67988e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64341ff2f29fa3b20f67988b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64341ff2f29fa3b20f67988a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64341ff2f29fa3b20f679893'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64341ff2f29fa3b20f67988d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64341ff2f29fa3b20f679891'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64341ff2f29fa3b20f679889'), 'name': 'Amy', 'address': 'Apple st 652'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Answer 7:-

delete_one(filter) - This method removes a single document from a collection that matches the specified filter. <br>
If multiple documents match the filter, only the first matching document will be deleted.

delete_many(filter) - This method removes all documents from a collection that match the specified filter.

drop() - This method drops the entire collection from a database.